<!--Definindo uma divisão geral para o footer-->
<div class="footer">
    <!--Definindo uma divisão para as informações do site-->
    <div class="infos">
        <!--Definindo uma divisão para os créditos da crição do site-->
        <div class="creditos">
            <!--Titulo dos créditos-->
            <h4>Criado e desenvolvido por:</h4>
            <!--parágrafo para os créditos-->
            <p>Jonathan Araujo</p>
        </div>
        <!--Definindo a ""empresa/dona"" do site-->
        <div class="propriedade">
            <!--Titulo da ""empres/dona""-->
            <h4>La playa Bar</h4>
            <!--Local e ano-->
            <p>2023, Campinas - SP</p>
        </div>
    </div>
    <!--Divisão para a miniatura do logo do site-->
    <div class="miniatura">
        <!--Imagem do logo do site-->
        <img src="/img/257777998_440305677463704_2469486848277217983_n.jpg" width="150px" alt="logomarca">
    </div>
</div>