<!--Aqui será um cabeçalho inicial que estará em todas as página e servira como um guia geral pelo site-->
<header>
    <!--Separando uma seção para o cabeçalho-->
    <section>
        <div class="cabecalho">
            <!-- Aqui será o topo com o logo, nome do restaurante, e um botão para logar e afins-->
            <div class="top">
                <!--Divisão para o logo-->
                <div class="logo">
                    <a href="/"><img src="/img/257777998_440305677463704_2469486848277217983_n.jpg" alt="logomarca"></a>
                </div>
                <!--Divisão para o nome do restaurate-->
                <div class="title">
                    <a style="text-decoration-line: none; color: white;" href="/"><h1>La playa<br>bar</h1></a>
                </div>
                <!--Divisão para os botões-->
                <div class="buttons d-flex">
                    <a class="nav-link dropdown-toggle me-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.5rem;">
                        Olá Jonathan
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark suspenso">
                        <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/pedidos">Pedidos</a></li>
                        <li><a class="dropdown-item" href="/admin">administrar</a></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                    <a href="/login"><button>Entrar</button></a>
                </div>
            </div>
            <!--Uma divisão para que tenha um guia abaixo das informações iniciais, para links que leva a outros lugares-->
            <div class="guia">
                <div class="info">
                    <a href="/informacoes">Informações</a>
                </div>
                <div class="whats">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5519992123580">Whatsapp</a>
                </div>
                <div class="insta">
                    <a target="_blank" href="https://www.instagram.com/laplaya_bar/">Instagram</a>
                </div>
                <div class="contratamos">
                    <a href="/contratamos">Contratamos</a>
                </div>
            </div>
        </div>
    </section>
</header>