<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante</title>
</head>
<body>
    <header>
        <section>
            <div class="top">
                <div class="logo">
                    <img width="130rem" src="/img/257777998_440305677463704_2469486848277217983_n.jpg" alt="logomarca">
                </div>
                <div class="title">
                    <h1>La playa<br>bar</h1>
                </div>
                <div class="buttons">
                    <button>Entrar</button>
                </div>
            </div>
            <div class="guia">
                <div class="info">
                    <a>Informações</a>
                </div>
                <div class="whats">
                    <a>Whatsapp</a>
                </div>
                <div class="insta">
                    <a>Instagram</a>
                </div>
                <div class="contratamos">
                    <a>Contratamos</a>
                </div>
            </div>
        </section>
    </header>
    {{{body}}}
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</html>