<div class="admin">
    <h2>Items</h2>
    <a href="/admin/adicionar-item">Adicionar Item</a>
    <div class="mostrar_item">
        <div>
            <p>ID</p>
        </div>
        <div>
            <p>nome</p>
        </div>
        <div>
            <p>Descrição</p>
        </div>
        <div>
            <p>imagem</p>
        </div>
        <div>
            <p>Tipo</p>
        </div>
        <div>
            <p>Tamanho</p>
        </div>
        <div>
            <p>Valor</p>
        </div>
        <div class="editar">
            <button>Apagar</button>
            <button>Editar</button>
        </div>
    </div>
    <a href="#">Alterar cronograma</a>
</div>