<h1 style="font-family: Arial, Helvetica, sans-serif;" class="display-1 text-center mb-5">Acesso negado!</h1>
<P style="font-family: Arial, Helvetica, sans-serif;" class="text-center" style="font-size: 3rem;" >Você não possui permissão para acessar essa página</P>
<div style="display: flex; justify-content: center;" class="buttons">
    <a style="font-family: Arial, Helvetica, sans-serif;" onclick="travarTela()" style="height: 5rem;" class="btnlogin" href="/"><button>Voltar ao inicio</button></a>
</div>
