<div>
    <div class="historico">
        <h2>Histórico</h2>
        <div class="pedido">
            <div>
                <p>Nº 23838</p>
            </div>
            <div>
                <p>Data do pedido</p>
            </div>
            <div>
                itens do pedido
            </div>
            <div>
                Valor dos itens
            </div>
            <div>
                Valor Total
            </div>
            <div>
                pagamento feito em
            </div>
        </div>

    </div>
</div>