<div class="center">
    <div class="box">
        <div class="perfil">
            <h2>Perfil</h2>
        </div>
        <div class="perfil_infos">
            <form>
                <div class="row">
                    <div class="col-6">
                        <label for="exampleInputEmail1" class="form-label">Login</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" value="{{nome}}">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="telefone">
                    </div>
                    <div class="col-6">
                        
                        <label for="cep" class="form-label">Senha</label>
                        <input type="text" class="form-control" id="cep" required maxlength="9" value="Alterar senha">
                        <label for="cep" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="cep" required maxlength="9">
                        <label for="complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="complemento">
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="submit" class="btn btn-outline-light">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>