<h1 class="display-1 text-center mb-5">Página não encontrada </h1>
<P class="text-center" style="font-size: 3rem;" >O link que você acessou pode estar quebrado ou inválido ou pode ter sido removida!</P>
<div style="display: flex; justify-content: center;" class="buttons">
    <a style="height: 5rem;" class="btnlogin" href="/"><button>Voltar ao inicio</button></a>
</div>
