.centralize{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 23, 23, 0.5);
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 995; 
}
.loading{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    z-index: 999;
}
