<h1 style="font-family: Arial, Helvetica, sans-serif;" class="display-1 text-center mb-5">Você não está logado! </h1>
<P style="font-family: Arial, Helvetica, sans-serif;" class="text-center" style="font-size: 3rem;" >Você não está logado na plataforma, portanto não pode acessar essa página</P>
<div style="display: flex; justify-content: center;" class="buttons">
    <a style="font-family: Arial, Helvetica, sans-serif;" onclick="travarTela()" style="height: 5rem;" class="btnlogin" href="/usuario/login"><button>Realizar login</button></a>
</div>
