<!--Página para cadastro dos clientes-->
<!--Divs do bootstrap para criar um card-->
<div class="container text-start">
    <!--Titulo do card-->
    <h1 class="display-1 text-center mb-5">Cadastre-se</h1>
    <div class="row justify-content-md-center">
        <div class="card text-bg-dark" style="width: 50%; padding: 3rem; border: 0.2rem solid white; border-radius: 2rem; ">
            <!--Formulário com as informações usuario para efetuar o cadastro-->
            <form  method="post" action="/usuario/realizar-cadastro">
                <!--Divs para separar os inputs e labels de cada informação do usuario-->
                <!--Nome do usuario, utilizando o boostrap para personalizar-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="nome" class="form-label">Nome</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" name="nome" id="nome">
                </div>
                <div class="alerta_validacao" id="alertaNome">
                    <p>⚠ O seu nome deve conter no minimo 2 caracteres e no máximo 50 ⚠</p>
                </div>
                <!--Email do usuario-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="email" class="form-label">Email</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                </div>
                <div class="alerta_validacao" id="alertaEmail">
                    <p>⚠ Insira um email válido ⚠</p>
                </div>
                <!--Endereço do usuario-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="endereco" class="form-label">Endereço</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" name="endereco" id="endereco" required>
                </div>
                <!--CEP do usuario-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="cep" class="form-label">CEP</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" name="cep" id="cep" maxlength="9">
                </div>
                <div class="alerta_validacao" id="alertaCep">
                    <p>⚠ Insira um cep válido ⚠</p>
                </div>
                <!--Complemento do usuario-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="complemento" class="form-label">Complemento</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" name="complemento" id="complemento">
                </div>
                <!--Telefone do usuario-->
                <div class="mb-2">
                    <label style="font-size: 2rem;" for="telefone" class="form-label">Telefone</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="tel" class="form-control" name="telefone" id="telefone" minlength="14" maxlength="14" required="">
                </div>
                <div class="alerta_validacao" id="alertaTelefone">
                    <p>⚠ O telefone deve estar da seguinte forma (DDD) + 9 + número ⚠</p>
                </div>
                <!--Senha do usuario-->
                <div class="mb-2">
                    <label  style="font-size: 2rem;" for="senha" class="form-label">Senha</label>
                    <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="password" class="form-control" name="senha" id="senha">
                </div>
                <div class="alerta_validacao" id="alertaSenha">
                    <p>⚠ A senha deve ter no mínimo 8 caracteres, pelo menos 1 letra maiúscula e pelo menos 1 número ⚠</p>
                </div>
                <!--Botões para enviar o formulário e realizar o cadastro do usuario na plataforma e o outro botão é para limpar todos os campo-->
                <div style="width: 100%; height: 5rem; " class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" onclick="travarTela()" id="cadastrarUsuario" class="btn btn-outline-light" style="font-size: 2rem;">Cadastrar</button>
                    <button type="reset" class="btn btn-outline-light" style="font-size: 2rem;">Limpar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/validar_cadastro.js"></script>